# mani #
mx-plug
mx-chain-proxy-go
mx-chain-go
mx-chain-vm-v1_4-go
mx-sdk-rs
mx-indexer
mx-seed-contracts
mx-api-service
mx-delegation-service
mx-socket-api-mock
mx-unit-networking
# mani #

localnet/
